@use 'variables' as v;
@use 'mixins' as m;

header {
  grid-area: header;
  background-image: url('../images/bg-pattern-intro-mobile.svg'),
    linear-gradient(165deg, v.$hdr-grad-lght, v.$hdr-grad-red);
  background-size: 340%;
  background-position: 36% 33%;
  border-radius: 0 0 0 6rem;
  div {
    &#upperHeader {
      margin-top: 4rem;
      padding: 0 1.5rem;
      img {
        &#logo {
          width: 5rem;
        }
      }
      #menuDiv {
        box-shadow: 0rem 1rem 2rem v.$lght-gray;
        font-family: 'Overpass', sans-serif;
        font-weight: 600;
        ul {
          list-style-type: none;
          padding: 0;
          width: 100%;
          .listItem {
            cursor: pointer;
            font-size: 1.1rem;
            color: v.$text-drk-blue;
            text-align: center;
            width: 90%;
            padding: 1rem 0;
            img {
              &.arrowDark {
                transition-duration: 0.9s;
                margin-left: 0.3rem;
              }
              &.arrowLight {
                display: none;
              }
              &.flip {
                transform: rotate(180deg);
              }
            }
            .dropDown {
              margin-top: 1.3rem;
              padding: 0.8rem 0;
              background-color: rgba(211, 211, 211, 0.3);
              border-radius: 0.3rem;
              line-height: 2.5rem;
              a {
                text-decoration: none;
                color: v.$text-grysh-blue;
              }
              &.hide {
                display: none;
              }
            }
            &.clicked {
              color: v.$text-grysh-blue;
            }
          }
        }
        #login {
          width: 90%;
          border-top: 1px solid rgba(211, 211, 211, 0.5);
          padding: 2rem 0rem;
          a {
            font-size: 1.1rem;
            text-decoration: none;
            color: v.$text-drk-blue;
            &:hover {
              color: v.$text-grysh-blue;
            }
          }
          button {
            /* $clr, $fnt-size, $fnt-wght, $bckGrnd-clr, $brdr-clr, $brdr-radius, $padg-top-btm, $padg-lft-rgt */
            @include m.buttonStyles(
              v.$white-clr,
              0.95rem,
              500,
              v.$white-clr,
              v.$white-clr,
              1.5rem,
              0.8rem,
              2rem
            );
            cursor: pointer;
            font-family: 'Ubuntu', sans-serif;
            margin-top: 1rem;
            background: linear-gradient(
              60deg,
              v.$hdr-grad-lght,
              v.$hdr-grad-red
            );
            &:hover {
              background: linear-gradient(
                240deg,
                v.$hdr-grad-lght,
                v.$hdr-grad-red
              );
            }
          }
        }
        &.hide {
          display: none;
        }
        &.show {
          position: absolute;
          border-radius: 0.3rem;
          width: 88vw;
          top: 8rem;
          right: 6vw;
          background-color: v.$white-clr;
        }
      }
      #menuIcon {
        #open {
          &.hide {
            display: none;
          }
        }
        #close {
          &.hide {
            display: none;
          }
        }
      }
    }
    &#lowerHeader {
      padding: 5rem 2.2rem 9rem 2.2rem;
      div {
        text-align: center;
        h1 {
          font-family: 'Overpass', sans-serif;
          font-weight: 300;
          color: v.$white-clr;
          padding-left: 0.8rem;
        }
        h3 {
          font-family: 'Overpass', sans-serif;
          font-weight: 300;
          color: v.$lght-gray;
        }
        &#lowerDiv {
          button {
            cursor: pointer;
            margin-top: 2rem;
            font-family: 'Ubuntu', sans-serif;
            &#start {
              /* $clr, $fnt-size, $fnt-wght, $bckGrnd-clr, $brdr-clr, $brdr-radius, $padg-top-btm, $padg-lft-rgt */
              @include m.buttonStyles(
                v.$hdr-drk-red,
                1rem,
                700,
                v.$white-clr,
                v.$white-clr,
                1.5rem,
                0.8rem,
                0.9rem
              );
              &:hover {
                color: v.$white-clr;
                background-color: rgba(255, 255, 255, 0.3);
                border: rgba(255, 255, 255, 0.3);
              }
            }
            &#learn {
              /* $clr, $fnt-size, $fnt-wght, $bckGrnd-clr, $brdr-clr, $brdr-radius, $padg-top-btm, $padg-lft-rgt */
              @include m.buttonStyles(
                v.$white-clr,
                1rem,
                700,
                transparent,
                v.$white-clr,
                1.5rem,
                0.8rem,
                1.6rem
              );
              &:hover {
                color: v.$hdr-drk-red;
                background-color: v.$white-clr;
              }
            }
          }
        }
      }
    }
  }

  /* ----------------------- Media Queries ----------------------- */
  @include m.flippedMobileScreens(41.25em, 53.75em, 26.25em) {
    /* --------- ($min-wdth, $max-wdth, $max-hgt) --------- */
    div {
      &#upperHeader {
        padding: 0 2.5rem;
      }
      &#lowerHeader {
        div {
          &#lowerDiv {
            width: 50vw;
          }
        }
      }
    }
  }

  @include m.padScreens(47.813em, 63.938em) {
    /* ------ ($min-wdth, $max-wdth) ------ */
    background-image: url('../images/bg-pattern-intro-desktop.svg'),
      linear-gradient(285deg, v.$hdr-grad-red 45%, v.$hdr-grad-lght 85%);
    background-size: 235%;
    background-position: 27% 52%;
    div {
      &#upperHeader {
        margin-top: 1.5rem;
        padding: 0 3rem;
        img {
          &#logo {
            width: 5.4rem;
            margin-right: 2rem;
            padding-bottom: 0.8rem;
          }
        }
        #menuDiv {
          width: 100%;
          box-shadow: none;
          display: flex !important;
          ul {
            width: 19rem;
            .listItem {
              font-family: 'Ubuntu', sans-serif;
              font-weight: 500;
              width: min-content;
              font-size: 1rem;
              color: v.$lght-gray;
              text-align: center;
              padding: 1rem 0;
              img {
                &.arrowDark {
                  display: none;
                }
                &.arrowLight {
                  display: flex;
                  transition-duration: 0.9s;
                  margin-left: 0.5rem;
                }
                &.flip {
                  transform: rotate(180deg);
                }
              }
              .dropDown {
                position: absolute;
                width: 7.5rem;
                padding: 1.5rem 0 1.5rem 1.5rem;
                top: 5.5rem;
                background-color: v.$white-clr;
                border-radius: 0.3rem;
                line-height: 2rem;
                box-shadow: 0rem 0.4rem 0.8rem rgb(106, 106, 106);
                a {
                  width: fit-content;
                  text-decoration: none;
                  color: v.$text-grysh-blue;
                  font-weight: 400;
                  &:hover {
                    font-weight: 600;
                  }
                }
                &.hide {
                  display: none;
                }
              }
              &.clicked {
                color: v.$white-clr;
                text-decoration: underline;
              }
            }
          }
          #login {
            width: 12rem;
            border-top: none;
            a {
              font-size: 1rem;
              color: v.$lght-gray;
              &:hover {
                text-decoration: underline;
                color: v.$white-clr;
              }
            }
            button {
              margin: 0;
              color: v.$hdr-drk-red;
              background: v.$white-clr;
              &:hover {
                color: v.$white-clr;
                background: rgba(255, 255, 255, 0.3);
                border-color: transparent;
              }
            }
          }
        }
        #menuIcon {
          display: none;
        }
      }
      &#lowerHeader {
        div {
          text-align: center;
          h1 {
            font-size: 2.9rem;
            font-weight: 400;
            margin: 1rem 0 0 0;
          }
          h3 {
            font-weight: 300;
            color: v.$lght-gray;
            margin: 1.2rem 0;
          }
          &#lowerDiv {
            width: 19rem;
          }
        }
      }
    }
  }

  @include m.flippedPadScreens(64em, 73em, 37.5em) {
    /* ------ ($mn-wdth, $max-wdth, $mn-hgt) ------ */
    background-image: url('../images/bg-pattern-intro-desktop.svg'),
      linear-gradient(285deg, v.$hdr-grad-red 45%, v.$hdr-grad-lght 85%);
    background-size: 235%;
    background-position: 27% 52%;
    div {
      &#upperHeader {
        margin-top: 1.5rem;
        padding: 0 7rem;
        img {
          &#logo {
            width: 6rem;
            margin-right: 4rem;
            padding-bottom: 0.8rem;
          }
        }
        #menuDiv {
          width: 100%;
          box-shadow: none;
          display: flex !important;
          ul {
            width: 19rem;
            .listItem {
              font-family: 'Ubuntu', sans-serif;
              font-weight: 500;
              width: min-content;
              font-size: 1rem;
              color: v.$lght-gray;
              text-align: center;
              padding: 1rem 0;
              img {
                &.arrowDark {
                  display: none;
                }
                &.arrowLight {
                  display: flex;
                  transition-duration: 0.9s;
                  margin-left: 0.5rem;
                }
                &.flip {
                  transform: rotate(180deg);
                }
              }
              .dropDown {
                position: absolute;
                width: 9rem;
                padding: 1.5rem 0 1.5rem 1.5rem;
                top: 5.5rem;
                background-color: v.$white-clr;
                border-radius: 0.3rem;
                line-height: 2rem;
                box-shadow: 0rem 0.4rem 0.8rem rgb(106, 106, 106);
                a {
                  width: fit-content;
                  text-decoration: none;
                  color: v.$text-grysh-blue;
                  font-weight: 400;
                  &:hover {
                    font-weight: 600;
                  }
                }
                &.hide {
                  display: none;
                }
              }
              &.clicked {
                color: v.$white-clr;
                text-decoration: underline;
              }
            }
          }
          #login {
            width: 12rem;
            border-top: none;
            a {
              font-size: 1rem;
              color: v.$lght-gray;
              &:hover {
                text-decoration: underline;
                color: v.$white-clr;
              }
            }
            button {
              margin: 0;
              color: v.$hdr-drk-red;
              background: v.$white-clr;
              &:hover {
                color: v.$white-clr;
                background: rgba(255, 255, 255, 0.3);
                border-color: transparent;
              }
            }
          }
        }
        #menuIcon {
          display: none;
        }
      }
      &#lowerHeader {
        div {
          text-align: center;
          h1 {
            font-size: 3.3rem;
            font-weight: 400;
            margin: 1rem 0 0 0;
          }
          h3 {
            font-weight: 300;
            color: v.$lght-gray;
            margin: 1.2rem 0;
          }
          &#lowerDiv {
            width: 19rem;
          }
        }
      }
    }
  }

  @include m.wideScreens(43rem, 73.75rem) {
    /* ------ ($min-hgt, $min-wdth) ------ */
    background-image: url('../images/bg-pattern-intro-desktop.svg'),
      linear-gradient(285deg, v.$hdr-grad-red 45%, v.$hdr-grad-lght 85%);
    background-size: 235%;
    background-position: 27% 52%;
    div {
      &#upperHeader {
        margin-top: 1.5rem;
        padding: 0 10rem;
        img {
          &#logo {
            width: 6rem;
            margin-right: 4rem;
            padding-bottom: 0.8rem;
          }
        }
        #menuDiv {
          width: 100%;
          box-shadow: none;
          display: flex !important;
          ul {
            width: 19rem;
            .listItem {
              font-family: 'Ubuntu', sans-serif;
              font-weight: 500;
              width: min-content;
              font-size: 1rem;
              color: v.$lght-gray;
              text-align: center;
              padding: 1rem 0;
              img {
                &.arrowDark {
                  display: none;
                }
                &.arrowLight {
                  display: flex;
                  transition-duration: 0.9s;
                  margin-left: 0.5rem;
                }
                &.flip {
                  transform: rotate(180deg);
                }
              }
              .dropDown {
                position: absolute;
                width: 9rem;
                padding: 1.5rem 0 1.5rem 1.5rem;
                top: 5.5rem;
                background-color: v.$white-clr;
                border-radius: 0.3rem;
                line-height: 2rem;
                box-shadow: 0rem 0.4rem 0.8rem rgb(106, 106, 106);
                a {
                  width: fit-content;
                  text-decoration: none;
                  color: v.$text-grysh-blue;
                  font-weight: 400;
                  &:hover {
                    font-weight: 600;
                  }
                }
                &.hide {
                  display: none;
                }
              }
              &.clicked {
                color: v.$white-clr;
                text-decoration: underline;
              }
            }
          }
          #login {
            width: 12rem;
            border-top: none;
            a {
              font-size: 1rem;
              color: v.$lght-gray;
              &:hover {
                text-decoration: underline;
                color: v.$white-clr;
              }
            }
            button {
              margin: 0;
              color: v.$hdr-drk-red;
              background: v.$white-clr;
              &:hover {
                color: v.$white-clr;
                background: rgba(255, 255, 255, 0.3);
                border-color: transparent;
              }
            }
          }
        }
        #menuIcon {
          display: none;
        }
      }
      &#lowerHeader {
        div {
          text-align: center;
          h1 {
            font-size: 4rem;
            font-weight: 400;
            margin: 1rem 0 0 0;
          }
          h3 {
            font-weight: 300;
            color: v.$lght-gray;
            margin: 1.2rem 0;
          }
          &#lowerDiv {
            width: 19rem;
          }
        }
      }
    }
  }
}
