@use 'variables' as v;
@use 'mixins' as m;

header {
  grid-area: header;
  background-image: url('../images/bg-pattern-intro-mobile.svg'),
    linear-gradient(165deg, v.$hdr-grad-lght, v.$hdr-grad-red);
  background-size: 340%;
  background-position: 36% 33%;
  border-radius: 0 0 0 6rem;
  div {
    &#upperHeader {
      margin-top: 4rem;
      padding: 0 1.5rem;
      img {
        &#logo {
          width: 5rem;
        }
      }
      #menuDiv {
        box-shadow: 0rem 1rem 2rem v.$lght-gray;
        font-family: 'Overpass', sans-serif;
        font-weight: 600;
        ul {
          list-style-type: none;
          padding: 0;
          width: 100%;
          .listItem {
            font-size: 1.1rem;
            color: v.$text-drk-blue;
            text-align: center;
            width: 90%;
            padding: 1rem 0;
            img {
              &.arrowDark {
                transition-duration: 0.9s;
                margin-left: 0.3rem;
              }
              &.arrowLight {
                display: none;
              }
              &.flip {
                transform: rotate(180deg);
              }
            }
            .dropDown {
              margin-top: 1.3rem;
              padding: 0.8rem 0;
              background-color: rgba(211, 211, 211, 0.3);
              border-radius: 0.3rem;
              line-height: 2.5rem;
              a {
                text-decoration: none;
                color: v.$text-grysh-blue;
              }
              &.hide {
                display: none;
              }
            }
            &.clicked {
              color: v.$text-grysh-blue;
            }
          }
        }
        #login {
          width: 90%;
          border-top: 1px solid rgba(211, 211, 211, 0.5);
          padding: 2rem 0rem;
          a {
            font-size: 1.1rem;
            text-decoration: none;
            color: v.$text-drk-blue;
            &:hover {
              color: v.$text-grysh-blue;
            }
          }
          button {
            /* $clr, $fnt-size, $fnt-wght, $bckGrnd-clr, $brdr-clr, $brdr-radius, $padg-top-btm, $padg-lft-rgt */
            @include m.buttonStyles(
              v.$white-clr,
              0.95rem,
              500,
              v.$white-clr,
              v.$white-clr,
              1.5rem,
              0.8rem,
              2rem
            );
            font-family: 'Ubuntu', sans-serif;
            margin-top: 1rem;
            background: linear-gradient(
              60deg,
              v.$hdr-grad-lght,
              v.$hdr-grad-red
            );
            &:hover {
              background: linear-gradient(
              240deg,
              v.$hdr-grad-lght,
              v.$hdr-grad-red
            );
            }
          }
        }
        &.hide {
          display: none;
        }
        &.show {
          position: absolute;
          border-radius: 0.3rem;
          width: 88vw;
          top: 8rem;
          right: 6vw;
          background-color: v.$white-clr;
        }
      }
      #menuIcon {
        #open {
          &.hide {
            display: none;
          }
        }
        #close {
          &.hide {
            display: none;
          }
        }
      }
    }
    &#lowerHeader {
      padding: 5rem 2.5rem 9rem 2.5rem;
      div {
        text-align: center;
        h1 {
          font-family: 'Overpass', sans-serif;
          font-weight: 300;
          color: v.$white-clr;
          padding-left: 1.2rem;
        }
        h3 {
          font-family: 'Overpass', sans-serif;
          font-weight: 300;
          color: v.$lght-gray;
        }
        &#lowerDiv {
          button {
            margin-top: 2rem;
            font-family: 'Ubuntu', sans-serif;
            &#start {
              /* $clr, $fnt-size, $fnt-wght, $bckGrnd-clr, $brdr-clr, $brdr-radius, $padg-top-btm, $padg-lft-rgt */
              @include m.buttonStyles(
                v.$hdr-drk-red,
                1rem,
                700,
                v.$white-clr,
                v.$white-clr,
                1.5rem,
                0.8rem,
                0.9rem
              );
              &:hover {
                color: v.$white-clr;
                background-color: rgba(255, 255, 255, 0.3);
                border: rgba(255, 255, 255, 0.3);
              }
            }
            &#learn {
              /* $clr, $fnt-size, $fnt-wght, $bckGrnd-clr, $brdr-clr, $brdr-radius, $padg-top-btm, $padg-lft-rgt */
              @include m.buttonStyles(
                v.$white-clr,
                1rem,
                700,
                transparent,
                v.$white-clr,
                1.5rem,
                0.8rem,
                1.6rem
              );
              &:hover {
                color: v.$hdr-drk-red;
                background-color: v.$white-clr;
              }
            }
          }
        }
      }
    }
  }
}
