/* -------- Colors -------- */
$hdr-drk-red: hsl(356, 100%, 66%);
$hdr-lght-red: hsl(355, 100%, 74%);
$hdr-grad-lght: hsl(13, 100%, 72%);
$hdr-grad-red: hsl(353, 100%, 62%);
$text-drk-blue: hsl(208, 49%, 24%);
$white-clr: hsl(0, 0%, 100%);
$text-grysh-blue: hsl(207, 13%, 34%);
$bdy-grad-grysh-blue: hsl(237, 17%, 21%);
$bdy-grad-desat-blue: hsl(237, 23%, 32%);
$ftr-grysh-blue: hsl(240, 2%, 79%);
$ftr-drk-blue: hsl(240, 10%, 16%);
$lght-gray: lightgray;
$drk-gray: darkgray;
